* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 16px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff2;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    padding: 120px 0;
    width: 100%;
    min-height: 100vh;
    background: url("../images/bg-img.jpg") no-repeat;
    background-size: cover;
}

.form__input {
    display: flex;
    background-color: rgb(7, 56, 56);
    border-radius: 5px;
    padding: 10px;
}

.form__button {
    background: none;
    border: none;
}

input {
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    background: none;
}

::placeholder {
    color: rgb(255, 255, 255);
}

h2 {
    color: white;
}
.weather__wrapper {
    width: 100%;
    min-height: 300px;
    background: #fff2;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    text-align: center;
    padding: 30px;
}
.weather__desc,
.weather__region {
    font-size: 24px;
}
.weather__info {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 16px;
}

.weather__degree {
    font-size: 80px;
}

.weather__update {
    font-size: 20px;
    margin-top: 16px;
}

.forecastday {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    overflow: auto;
    padding: 10px 0;
    &::-webkit-scrollbar {
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 10px;
    }

    &__item {
        min-width: 130px;
        // height: 130px;
        background: #fff2;
        backdrop-filter: blur(3px);
        border-radius: 10px;
        padding: 10px 15px;
    }
}

.forecastdays {
    display: flex;
    gap: 30px;
    padding: 30px 0px;
    &__item {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        background: #fff2;
        border-radius: 10px;
        padding: 0 15px;
        backdrop-filter: blur(3px);
    }
}

@media (max-width: 550px) {
    .weather__info {
        flex-direction: column;
    }
    .forecastday__item {
        min-width: 80px;
    }
    .forecastdays {
        flex-direction: column;
    }
}

footer {
    text-align: center;
    color: blue;
    padding: 10px 0;
    background: #fff;
    backdrop-filter: blur(3px);
    a {
        text-decoration: none;
    }
}
